html {
	font-size: 18pt;
}
.title {
	color: Red;
	font-family: 'courier new';
	font-weight: bold;
	font-size: 36pt;
	background-color: LightGrey;
	padding-left: 10%;
}
.motto {
	color: hotpink;
	text-indent: 15%;
}
.links {
	background-color: DarkGrey;
	font-family: Arial;
}
a {
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	border-style: Solid;
	border-color: Black;
}
p1 {
	color: Black;
	font-family: Arial;
}
.timeInput {
	font-size: 2vw;
}
.blog_text {
	padding-left: 50px;
	padding-right: 100px;
}
.stroke {
	stroke: green;
	stroke-width: 2;
}
.collapser {
	background: grey;
	color: white;
	padding-left: 10px;
}
details {
	background: aqua;
	border-bottom: 5px solid white;
}
.detail{
	background: aquamarine;
}
