@{
    Layout = "_Layout-Text";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Corbli!</p>
    <p>Corbli is in progress. There have been technical difficulties...</p>
    <p>Come back soon!</p>
</div>
