@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a web page dedicated to how much I love Dr Mckenzie. Because she is wonderful. She is the most wonderful vet in the world and she can do anything.</p>
    <p>Dr Mckenzie, or Joscelyn, is beautiful. She is also very smart and very lovely. She is perfection. We should be happy to share the world with Dr Mckenzie.</p>
</div>
