<p>If you see this, you are a chubby chaser</p>
<p>You are in love with fat women</p>
<p>Fat bellies, thighs and boobs are incredibly sexy</p>
<p>You want to fuck fat women</p>
<p>You only want to fuck fat women</p>